# -- Nix -----------------------------------------------------------------------
result
result-*
.direnv/
.devenv/

# -- Secrets -------------------------------------------------------------------
.env

# -- OS ------------------------------------------------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini

# -- Editors -------------------------------------------------------------------
.idea/
.vscode/
*.swp
*.swo
*~
