# {{ project_name }}
{% if project_description %}
{{ project_description }}
{% endif %}
[![CI](https://github.com/{{ github_owner }}/{{ project_name }}/actions/workflows/ci.yaml/badge.svg)](https://github.com/{{ github_owner }}/{{ project_name }}/actions/workflows/ci.yaml)
[![Release](https://img.shields.io/github/v/release/{{ github_owner }}/{{ project_name }})](https://github.com/{{ github_owner }}/{{ project_name }}/releases)
[![License](https://img.shields.io/badge/license-{{ license | replace('-', '--') }}-blue.svg)](LICENSES/{{ license }}.txt)
[![Conventional Commits](https://img.shields.io/badge/Conventional%20Commits-1.0.0-yellow.svg)](https://conventionalcommits.org)
[![Renovate enabled](https://img.shields.io/badge/renovate-enabled-brightgreen.svg)](https://renovatebot.com)

## Getting started

```bash
# requires nix and direnv
direnv allow
just
```

## Contributing

See [CONTRIBUTING.md](CONTRIBUTING.md).

## License

[{{ license }}](LICENSES/{{ license }}.txt) © {{ author }}
